asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==5.2
django-allauth==65.7.0
django-crispy-forms==2.4
pillow==11.2.1
python-decouple==3.8
sqlparse==0.5.3
typing_extensions==4.13.2
gunicorn
whitenoise
